@font-face {
  font-family:'open_sans';
  src:url('OpenSans-Light-webfont.woff') format('woff');
  font-weight:light;
  font-style:normal;
}
@font-face {
  font-family:'open_sans';
  src:url('OpenSans-Semibold-webfont.woff') format('woff');
  font-weight:bold;
  font-style:normal;
}
body{
  font-family:open_sans;
  padding: 0;
  margin: 0;
}
.boundary{
  width:90%;
  max-width:700px;
  margin:auto;
}
.equidistant{
  display:flex;
  flex-wrap: wrap;
}
.title{
  border-style:solid;
  border-width:0 0 1px 0;
  border-color:black;
  text-align:center;
  padding-bottom:12px;
  font-size: x-large;
  font-weight: bold;
}
.black_bar{
  background-color:#2e2e2e;
  width:100%;
  margin:auto;
}
.in_black_bar{
  margin: auto;
  color:#fff;
  text-align:center;
  font-size:large;
  padding:20px;
}