@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.content{
width:90%;
max-width:700px;
margin:auto;
}
.title{
border-style:solid;
border-width:0 0 1px 0;
border-color:black;
text-align:center;
padding-bottom:12px;
font-family:open_sanslight;
}
p{
font-family:open_sanslight;
}
  
